{% extends "home.html" %}
<head>
{% block title %}Dashboard-EasyGrocery{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>

       .btn-outline-warning {
          --bs-btn-color: #ffc107;
          --bs-btn-border-color: #ffc10700;
       }
    </style>
</head>
<body>
  {% block toast %}
  
{% endblock %}
<div>
  {% block header %}
  <div style="position: fixed; width: 100%; z-index: 3;">
    <header class="p-0">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <!--src="https://drive.google.com/uc?export=view&id=1mpgyQLd4R9Zwgi5HV-KIEc6kUVFXvQXw"-->
          <a href="/" style="text-decoration: none;"><img class="mb-2" src="https://cdn3d.iconscout.com/3d/premium/thumb/grocery-bag-4065245-3361784.png" alt="" width="68" height="65" style="margin-top: 8px;padding-bottom: 10px;">
            <span class="fs-4" style="color:rgb(112, 0, 131);padding-bottom:0px;"><b>EasyGrocery</b><span> </span></span></a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <!--li><a href="/" class="nav-link px-2 text-black">Home</a></li-->
            
          </ul>
          
          {% if customer %}
              

              <div class="text-end">
                <b>Welcome</b> {{ customer.name }}
                  <button type="button" data-bs-toggle="modal" data-bs-target="#profile_details" class="btn btn-outline-success" style="margin-left: 20px; padding-bottom: 0px;"><span class="material-symbols-outlined">
                    account_circle
                    </span></button>
                   
              </div>
              
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Cart" aria-controls="offcanvasRight" style="padding-bottom: 0px; margin-left: 10px;"><span class="material-symbols-outlined">
                shopping_cart
              </span></button>
              <!--button  type="button" data-bs-toggle="modal" data-bs-target="#myOrders" aria-controls="offcanvasRight" style="padding-bottom: 0px; margin-left: 8px;">
                <span class="material-symbols-outlined">
                  list_alt
                  </span>
              </button-->
              <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#myOrders" class="btn btn-outline-success" style="padding-bottom: 0px; margin-left: 8px;">
                <span class="material-symbols-outlined">
                  list_alt
                  </span>
              </button>
              <a href="/logout"><button type="button" class="btn btn-outline-light me-2"
                style="margin-left: 10px; color: black; background-color: #ffd555;">Log out</button></a>
              
              

                
          {% endif %}
        </div>
      </div>
    </header>
  </div>
  {% endblock %}

  {% block content %}
  
  
        <!-- Modal for my orders -->
        <div class="modal fade" id="myOrders" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1051;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">My Orders</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="background-color: #3e3454;">
                {% if my_orders == [] %}
                <h5 style="color: white;">You have Placed no orders!</h5>
                {% endif %}
               {% for order in my_orders %}
               
                    <div class="card" style="margin: 10px; text-align: left;" data-bs-toggle="collapse" href="#collapseExample{{ order.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <div class="card-body">
                        <div class="container">
                          
                          <div class="row">
                            <div class="col-9">
                               <b>{{ order.item_name }}</b> 
                      
                            </div>
                            
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample{{ order.id }}" style="margin: 10px; text-align: left;">
                      <div class="card shadow">
                      <div class="card-body">
                        <b>Order Date & Time: </b>  {{ order.order_date }}
                        <p><b>Quantity</b>  {{ order.quantity }} {% if order.unit == '0' %}Produts{% endif %}
                                                                {% if order.unit == '1' %}kg{% endif %}
                                                                {% if order.unit == '2' %}litre{% endif %}
                                                                {% if order.unit == '3' %}m{% endif %}<br>
                        <b>Price</b> Rs. {{ order.price }} </p>
                      </div>
                      </div>
                    </div>
               {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="Cart" aria-labelledby="offcanvasRightLabel" style="z-index: 1051;">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">My Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body" style="height: 300px; overflow-y: auto;">
            {% for item in cart %}
            <div class="card" style="margin: 10px; text-align: left;" data-bs-toggle="collapse" href="#collapseExample{{ item.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
              <div class="card-body shadow">
                <div class="container">
                  
                  <div class="row">
                    <div class="col-8">{{ item.name }}</div>
                    <div class="col-4"><a href="/remove_from_cart/{{ item.id }}" style="text-decoration: none;"><span class="material-symbols-outlined" style="margin-left: 75%;">
                      delete
                      </span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample{{ item.id }}" style="margin: 10px; text-align: left;">
              <div class="card shadow">
              <div class="card-body">
                <p><b>Quantity</b>  {{ item.quantity }} {% if item.unit == '0' %}Product{% endif %}
                                                        {% if item.unit == '1' %}kg{% endif %}
                                                        {% if item.unit == '2' %}litre{% endif %}
                                                        {% if item.unit == '3' %}m{% endif %}<br>
                <b>Price</b> Rs {{ item.price }} </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#buy_item{{ item.id }}" style="font-size: small; margin-right: 10%;">Edit Quantity</a>
              </div>
              </div>
            </div>

            {% endfor %}
          </div>
          {% if final_amount != 0 %}
          <div class="offcanvas-footer" style="height: 8%; display: flex; margin-bottom:10px ">
              <div class="card card-body" style="font-weight: bold;width: 100%;height: 60px;margin: 0px 10px 10px 10px;padding-bottom: 10px;">
                <div class="container text-center">
                  <div class="row">
                      <div class="col">
                        Total price:  Rs {{ final_amount }}
                      </div>
                      <div class="col-5">
                        <a href="/place_your_order"><button type="button" class="btn btn-danger">Check Out</button></a>
                      </div> 
                  </div>
                </div>
              </div>
          </div>
          {% else %}
          <div class="offcanvas-footer" style="height: 8%; display: flex; margin-bottom:10px ">
            <div class="card card-body" style="background-color: blueviolet; color: white; font-weight: bold;width: 100%;height: 60px;margin: 0px 10px 10px 10px;padding-bottom: 10px;">
              <div class="container text-center">
                <div class="row">
                    
                  
                   <h5>Empty Cart! Try to Add some items</h5>
                  
                </div>
              </div>
            </div>
        </div>
          {% endif %}
        </div>
        
        
        <div style="z-index: 0; position: relative;">
          <form action="/search" method="POST" style="z-index: 0; position: relative;">
            <div class="container text-center">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Fruits......" name="query" required>
                    <label for="floatingInput">Search</label>
                  </div>
                </div>
                <div class="col-2">
                  <select class="form-select" id="Search By" name="search_by">
                    <option selected>Search by</option>
                    <option value="1">Item Category</option>
                    <option value="2">Item</option>
                    <option value="3">Price</option>
                    <option value="4">Seller Name</option>
                    <option value="5">Manufacture Date</option>
                  </select>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Search</button>
                </div>
              </div>
            </div>
          </form>
          </div>
            
            
        

    <!--Item categories Rows-->
    {% for i in item_categories %}
    {% if i.items != [] %}

        <div class="container" style="background-color: #ffffff00;padding: inherit; padding-bottom: 0px; border-radius: 8px;margin: 10px;">
          <div clas="container" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: stretch; justify-content: center; align-items: center; padding: 0px 10px 0px 10px;">
              <h3 style="margin-right: auto; margin-bottom: 20px; text-align: left;">{{ i.name }} </h3>
            </div>
            <div class="container" style=" display: flex; overflow-x: auto; padding: inherit; padding-bottom: 2%; padding-top: 0px;">
              <div class="card-wrapper" style="display: flex; z-index: 0;">
                  {% for j in i.items %}
                  <a href="#" data-bs-toggle="modal" data-bs-target="#item_details{{ j.id }}" style="text-decoration: none;">
                    <div class="card shadow-sm" style="width: 10rem; margin-right: 10px; z-index: -1;">
                      <div class="card-body">
                        <h5 class="card-title">{{ j.name }}</h5>
                        <p class="card-text"><b>Price:</b> {{ j.price }}{% if j.unit == '0' %}Rs/unit{% endif %}
                                                                        {% if j.unit == '1' %}Rs/kg{% endif %}
                                                                        {% if j.unit == '2' %}Rs/litre{% endif %}
                                                                        {% if j.unit == '3' %}Rs/m{% endif %}<br></p>
                          {% if j.quantity == 0 %}<span class="badge rounded-pill text-bg-danger">Out of Stock</span>{% endif %}
                          {% if j.quantity != 0 %}<span class="badge rounded-pill text-bg-success">In stock</span>{% endif %}                                                                        
                      </div>
                      
                      <div class="card-footer">
                        {% if j.quantity != 0 %}
                        <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#buy_item{{ j.id }}" style="font-size: small; margin-right: 10%;">Buy</a>
                        <a href="/add_to_cart/{{ j.id }}" class="btn btn-outline-warning" style="font-size: small; padding-bottom: 0px;"><span class="material-symbols-outlined">
                          add_shopping_cart
                          </span></a>
                        {% endif %} 
                        {% if j.quantity == 0 %}
                        <a href="#" class="btn btn-outline-success disabled" data-bs-toggle="modal" data-bs-target="#buy_item{{ j.id }}" style="font-size: small; margin-right: 10%;" >Buy</a>
                        <a href="/add_to_cart/{{ j.id }}" class="btn btn-outline-warning disabled" style="font-size: small; padding-bottom: 0px;" ><span class="material-symbols-outlined" >
                          add_shopping_cart
                          </span></a>
                        {% endif %} 
                      </div>
                    </div>
                  </a>
                  {% endfor %}
              </div>
            </div>
        </div>
       
        {% endif %}

        
        {% for j in i.items %}
        <!-- Modal to view item details -->
        <div class="modal fade " id="item_details{{ j.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-lg" style="z-index: 1050;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="text-align: left;">
                <h4>{{ j.name }}</h4>
                <b>Price</b> {{ j.price }}{% if j.unit == '0' %}Rs/unit{% endif %}
                {% if j.unit == '1' %}Rs/kg{% endif %}
                {% if j.unit == '2' %}Rs/litre{% endif %}
                {% if j.unit == '3' %}Rs/m{% endif %}<br>
                <b>Seller:</b><br>
                   {{ j.seller }}<br>
                <b>Key Features</b><br>
                  Tasty and healthy
                  etc.<br>
                <b>Country Of Origin</b><br>
                  India <br>
                <b>Customer Care Details</b><br>
                  Email: info@easygrocery.com<br>
                <b>Manufacture Date</b>
                {{ j.manufacture_date }}<br>
                <b>Disclaimer</b><br>
                  Every effort is made to maintain the accuracy of all information.<br>However, actual product packaging and materials may contain more and/or different information.<br>It is recommended not to solely rely on the information presented.
              </div>
              <div class="modal-footer">
                
              </div>
            </div>
          </div>
        </div>
        <!-- Modal to buy item  -->
        <div class="modal fade " id="buy_item{{ j.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" style="z-index: 1050;">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ j.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
              </div>
            
              <form method="POST" action="/add_to_cart/{{ j.id }}">
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="floatingInputGrid" name="price" value="{{ j.price }}" placeholder="name@example.com" hidden>
                          <input type="number" class="form-control" id="floatingInputGrid" name="price1" value="{{ j.price }}" placeholder="name@example.com" disabled>
                          <label for="floatingInputGrid">Price</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <select class="form-select" id="floatingSelectGrid" name="unit" disabled>
                            <option value="0" {% if j.unit == '0' %} selected  {% endif %} >Rs/unit </option>
                            <option value="1" {% if j.unit == '1' %} selected  {% endif %}>Rs/kg </option>
                            <option value="2" {% if j.unit == '2' %} selected  {% endif %}>Rs/litre </option>
                            <option value="3" {% if j.unit == '3' %} selected  {% endif %}>Rs/m </option>
                          </select>
                          <label for="floatingSelectGrid">Unit</label>
                        </div>
                        {% if j.unit == '0' %} <input name="unit1" value="0" hidden>{% endif %}
                         {% if j.unit == '1' %}<input name="unit1" value="1" hidden>{% endif %}
                        {% if j.unit == '2' %} <input name="unit1" value="2" hidden>{% endif %}
                        {% if j.unit == '3' %} <input name="unit1" value="3" hidden>{% endif %}
                      </div>
                    </div>
                    </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">How much?</span>
                    <input type="number" id="quantity" name="quantity" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" min="1" max="{{ j.quantity }}" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Add to Cart</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
    {% endfor %}
    <!--Modal for profile details-->
        
    <div class="modal fade" id="profile_details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="z-index:4;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">My Profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-4"><img src="https://png.pngtree.com/png-clipart/20220904/ourmid/pngtree-human-profile-avatar-ui-button-3d-icon-render-png-image_6137257.png" style="
                  height: 166px;">
                </div>
                <div class="col-8" style="text-align: left;padding-left: 50px;vertical-align: middle;"><p><b style="font-size: 30px;">{{ customer.name }}</b><br>
                  <div>
                    <span class="material-symbols-outlined">
                    alternate_email
                    </span> {{ customer.username }}<br>
                    <span class="material-symbols-outlined">
                    call
                    </span> {{ customer.phone }} <br>
                    <span class="material-symbols-outlined">
                      mail
                    </span> {{ customer.email }} <br>
                    <span class="material-symbols-outlined">
                        home
                    </span> {{ customer.address }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  {% endblock %}
</div>
</body>